@font-face{
    font-family: "Worksans";
    src: url('WorkSans-VariableFont_wght.ttf') format('truetype');
}


html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
    font-family: "Worksans";
}

.bg{
    width: 100%;
    height: 100%;
    background-image: url("backgroung.jpg");
    
}

.bg-frontshadow{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
}